body {
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Alinea los videos de derecha a izquierda */
    gap: 20px; /* Espacio entre videos */
    width: 90%;  /* Ajusta el ancho del contenedor */
}

video {
    width: calc(25% - 20px);  /* 25% del ancho menos el espacio entre videos */
    margin-bottom: 20px; /* Espacio vertical entre filas de videos */
}